@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

$mobile-width: 768px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'outfit', sans-serif;
}


body {
  margin: 0 10% 10% 10%;
  color: white;
  // background-color: linear-gradient(90deg, rgba(0, 17, 34, 1) 100%, rgba(16, 42, 68, 1) 50%, rgb(139, 173, 193, 1) 0%);
  
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #81D8D0 150%);
}

.table-contact-desktop {
  width: 100%;
  text-align: left;
  
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;

  h3 {
    margin-bottom: 8px;
  }
  
  @media screen and (max-width: $mobile-width) {
    grid-template-columns: 1fr;
  }
}

.container-item {}

.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background: transparent;
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: purple;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
    
  @media screen and (max-width: $mobile-width) {
    margin-left: 12px;
        
  }
  font-size: 18px;
  color: #001122;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;

  &:hover {
    color: #81D8D0;
  }
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
  justify-content: space-between;

  @media screen and (max-width: $mobile-width) {
    padding: 0 3%;
    gap: 64px;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}

.home-content {
  max-width: 600px;

  h1 {
    font-size: 56px;
    font-weight: 700;
  }

  h3 {
    font-size: 32px;
    font-weight: 700;
    color: #81D8D0;
  }

  p {
    font-size: 16px;
    margin: 20px 0 40px;
  }

  .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
  }
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #81D8D0;
  border: 2px solid #81D8D0;
  border-radius: 8px;
  font-size: 19px;
  color: #001122;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  &:hover {
    background-color: #85ff4c;
    #cv {
      display: none;
    }
    #icon {
      display: unset;
    }
  }
  #icon {
    display: none;
  }
  
  transition: all .2s;
  }



.earlier-images {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    img {
        aspect-ratio: 1/1;
        width: 320px;
        height: 100%;
    }
}

.wave {
    font-size: 32px;
}

.table-details {
    width: 100%;
    height: 100%;
    margin-top: 100px;

    .table-contact-mobile {
      display: none;     
    }

    @media screen and (max-width: $mobile-width) {
      .table-contact-desktop {
        display: none;
      }
      .table-contact-mobile {
        display: unset; 
        border-collapse: separate;
        border-spacing: 12px 8px;
      }
      tr td:first-child {
        font-weight: 600;
      }
    }

}